:root {
  --verde-pinho-profundo: #0f312b;
  --verde-menta-suave: #88b2a1;
  --verde-pastel-claro: #c4dad2;
  --branco-esverdeado: #e9efec;
  --verde-musgo-escuro: #06110f;
  --white: #fff;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", system-ui;
}

[data-theme="dark"] {
  --verde-musgo-escuro: #fff;
  --cor-texto: #000000;
  --white: #000;
  --verde-pinho-profundo: #88b2a1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background-color: var(--verde-musgo-escuro);
  color: var(--white);
  font-weight: 600;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--verde-musgo-escuro);
}

::-webkit-scrollbar-thumb {
  background-color: var(--verde-menta-suave);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--verde-menta-suave);
}
