.headerContainer {
  position: fixed;
  color: var(--white);
  background-color: transparent;
  width: 100%;
  height: 80px;
  z-index: 3;
  transition: 0.5s;

  .divContainer {
    margin: 0 auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1400px;

    h2 {
      font-size: 1.7rem;
      font-weight: 600;
      color: var(--verde-menta-suave);
    }

    @media (min-width: 750px) {
      .navBox {
        display: flex;
        color: var(--white);
        gap: 2rem;
        font-size: 1.3rem;

        .listHeader {
          display: flex;
          align-items: center;
          gap: 2rem;
        }

        .divHamburguer {
          display: none;
        }

        .active {
          color: var(--verde-menta-suave);
          text-decoration: underline;
        }
        .activeHome {
          color: var(--white);
          text-decoration: underline;
        }

        .spanIcon {
          cursor: pointer;
        }
      }
    }
  }
}

.headerScroll {
  background-color: var(--verde-musgo-escuro);
}

@media (max-width: 750px) {
  .headerContainer {
    height: 100px;
  }
  .listHeader {
    display: none;
  }
  .navBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    flex-direction: column-reverse;
  }
}

.switch {
  width: 70px;
  height: 36px;
  background-color: var(--verde-pinho-profundo);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.lua,
.sol {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
}

.lua {
  background-image: url("../../assets/lua.png");
}

.sol {
  background-image: url("../../assets/icons8-sol-50.png");
}
